@font-face {
    font-family: retroFont;
    src: url(font/NEONLEDLight.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: salmon;
    
}

.container {
    width: 800px;
    height: 400px;
    background-color: black;
    margin: 70px auto;
    position: relative;
    overflow: hidden;
    border-left: solid 10px yellow;
    border-right: solid 10px white;
}

h1 {
    margin-top: 40px;
    text-align: center;
    font-size: 50px;
    font-family: retroFont, Arial, Helvetica, sans-serif;
    font-size: 70px;
}

p {
    text-align: center;
    font-size: 30px;
}

.player {
    overflow: hidden;
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 30px;
}

.box {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 140);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
}

img {
    width: 50px;
    margin-top: -20px;
    z-index: 999;
}

.bullet {
    width: 100px;
    height: 5px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.support {
    width: 120px;
    height: 25px;
    background-color: lightblue;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

.support a {
    text-decoration: none;
    color: blue;
}

.support a:hover {
    text-decoration: none;
    color: salmon;
}

.support p {
    font-size: 18px;
}

@keyframes bullet {
    from {}

    to {
        left: 800px;
    }
}